* text=auto
*.md text eol=lf
*.py text eol=lf
*.json text eol=lf
*.bundle binary
site/obsidian-HUB_Optimus/** text eol=lf
site/obsidian-HUB_Optimus-v1.0/** text eol=lf
site/obsidian-HUB_Optimus-v1.1/** text eol=lf
